body{
    background: black;
    color: black;
}

#side_nav{
    background: #f2ece4;
    min-width: 280px;
    max-width: 280px;
    transition: all 0.2s;
}

.sidebarlogo{
    height: 280px;
}

.content{
    min-height: 100vh;
    width: 100%;
}

hr.hr-color{
    background:black;
}

.sidebar li.active{
    background: hsla(332, 51%, 61%, 0.8);
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover{
    color: black;
}

.sidebar li a{
    color:black;
}


@media(max-width: 767px){
    #side_nav{
        margin-left: -280px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
    .navbar{
        background: #f2ece4;
        color: black;
        border-bottom: 1px solid hsla(332, 51%, 61%, 0.8);
    }
    .carousel-item{
        height: auto;
    }
}